.card:hover img{
    transform: scale(1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card img{
    transform: scale(1.0,1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper{
    overflow: hidden;
    position:relative;
}
.member-icons{
    position: absolute;
    bottom: -30;
    left:0;
    right:0;
    margin-right: auto;
    margin-left: auto;
    opacity:0;
    
}
.card{
    
}
.card-img-wrapper:hover .member-icons{
    bottom: 0;
    opacity: 1;
  
}

.animate{
    transition: all 0.3s ease-in-out;
}

.card {
    border: 2px solid #ccc; /* Set a light gray border */
    border-radius: 8px; /* Add rounded corners */
    transition: border-color 0.3s ease-in-out; /* Smooth transition for border color */
}

/* Change border color on hover */
.card:hover {
    border-color: #66afe9; /* Blue border on hover */
}

/* Optional: Change border on focus for better accessibility */
.card:focus-within {
    border-color: #66afe9; /* Blue border when a child element is focused */
}

@keyframes fa-blink{
    0% {opacity: 1;}
    100% {opacity: 0.4;}
}

.is-online{
    animation: fa-blink 1.5s linear infinite;
    color: #66afe9;
}